# Git
.git
.gitignore

# Docker
.dockerignore
docker-compose.yml
run.sh

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Local development
.env
.idea/
*.swp
*.swo
*.swn

# Documentation
*.md
